#sidebar-content button {
	width: 100%;
	line-height: 40px;
	margin-bottom: 10px;
	outline: 0;
	border: 0;
	color: white;
	background-color: indigo;
	border-radius: 5px;
	font-size: 16px;
}
#sidebar-content button:hover {
	color: black;
	background-color: seagreen;
}
#head {
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	font-size: 20px
}
html, body {
	height: 100%;
	overflow: hidden;
}
* {
	box-sizing: border-box;
}
.height {
	height: 100%;
}
#frame {
	min-height: 100%;
	margin: 0;
	border: 0;
}